	{% extends 'school/base_login.html' %}

	{% block content %}

	<div class="container">
	    <div class="row">
	        <div class="jumbotron">
	        <li><a href="{% url 'student_list' %}">Students</a></li>
	        <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
	        <li><a href="{% url 'grade_list' %}">Grades</a></li>
	        <li><a href="{% url 'position_list' %}">Positions</a></li>
	        <li><a href="{% url 'report_student_list' %}">Reports</a></li>
	    	</div>
	    </div>
	</div>
	{% endblock %}