{% extends 'school/base_position.html' %}
{% load utility_tags %}

{% block content %}

<div class="col-md-9">


<div class="form-group">
<form name="form" action="{% url 'position_list' %}" method="GET">{% csrf_token %}

<label for="subject" class="control-label  requiredField">Subject</label>
  <select class="form-control" name="subject">
      <option value="Maths">Maths</option>
      <option value="Science">Science</option>
      <option value="English">English</option>
      <option value="ICT">ICT</option>
      <option value="French">French</option>
  </select>

<p></p>

<label for="subject" class="control-label  requiredField">Class</label>
  <select class="form-control" name="sclass">
      <option value="1A">1A</option>
      <option value="1B">1B</option>
  </select>

<p></p>

<button type="submit" class="btn btn-default">Filter</button>
</form>
</div>
<br />

<!-- {% if user.username == 'kwame' %}
  <li><a >Hello &nbsp;&nbsp;{{ user.username }}</a></li>
  <li class="divider"></li>
{% endif %} -->

<table cellpadding="0" cellspacing="0" class="table table-striped">

    <thead>
        <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Class</th>
            <th>Examsscore</th>
            <th>Total100</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}

        <tr>
            <td><a href="">{{ grade.1 }} {{ grade.2 }}</a></td>
            <td>{{ grade.4 }}</td>
            <td>{{ grade.5 }}</td>
            <td>{{ grade.6 }}</td>
            <td>{{ grade.7 }}</td>
            <td>{{ grade.8 }}</td>
            <td>
            <a class="btn btn-default" href=""><span class="glyphicon glyphicon-search"></span></a>
            <a class="btn btn-default" href=""><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        <!-- <td>{{ grade.text|linebreaksbr }}</td> -->
        </tr>
          {% endfor %}
        {% endblock %}
    
    </tbody>
    </div> <!-- end col md 9 -->
    </div><!-- end row -->
    </div><!-- end containing of content -->
    </div><!-- /.container -->
</table>
