{% extends 'school/base_grade.html' %}
{% block content %}    

<div class="col-md-9">

<div class="form-group">
<form name="form" action="{% url 'report_student_list' %}" method="GET">{% csrf_token %}

<label for="subject" class="control-label  requiredField">Class</label>
  <select class="form-control" name="sclass">
      <option value="1A">1A</option>
      <option value="1B">1B</option>
  </select>

<p></p>

<button type="submit" class="btn btn-default">Filter</button>
</form>
</div>
<br />

<!-- {% if user.username == 'kwame' %}
  <li><a >Hello &nbsp;&nbsp;{{ user.username }}</a></li>
  <li class="divider"></li>
{% endif %} -->

<table cellpadding="0" cellspacing="0" class="table table-striped">

    <thead>
        <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Class</th>
            <th>Examsscore</th>
            <th>Total100</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td><a href="">{{ grade.student }}</a></td>
            <td>{{ grade.subject }}</td>
            <td>{{ grade.sclass }}</td>
            <td>{{ grade.examsscore }}</td>
            <td>{{ grade.total100 }}</td>
            <td>
            <a class="btn btn-default" href="{% url 'comment' grade.student_id%}"> pdf </span></a>
            <!-- <a class="btn btn-default" href=""><span class="glyphicon glyphicon-search"></span></a> -->
<!--             <a class="btn btn-default" href=""><span class="glyphicon glyphicon-trash"></span></a>
 -->            </td>
        <!-- <td>{{ grade.text|linebreaksbr }}</td> -->
        </tr>
            {% endfor %}
        {% endblock %}
    
    </tbody>
    </div> <!-- end col md 9 -->
    </div><!-- end row -->
    </div><!-- end containing of content -->
    </div><!-- /.container -->
</table>
